<iframe id="video" width="869" height="489" src="https://www.youtube.com/embed/ztKpNok3VmQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div id="homeText">
    <br><br>
<p>Earthworm Jim is the first installment of the Earthworm Jim video game series. The game was developed by Shiny Entertainment in association with Playmates Toys. The main designer was Doug TenNapel, who also voiced the eponymous character in the game.
    Earthworm Jim was first released for the Sega Mega Drive/Genesis on August 2, 1994. The game was subsequently ported to Windows 95, the Sega Master System, Sega Game Gear, and the Nintendo SNES, Game Boy, and years later, the Game Boy Advance.
    Earthworm Jim is a "run and gun" platform video game, with some exceptions, starring an earthworm named Jim in a robotic suit who battles evil using his mutated worm head as a whip, his Plasma Blaster and Pocket Rocket. It became known for its Hitchhiker's-like bizarre absurdity, and its horror comedy.
    The game was critically acclaimed upon its original release. To tie in with the game there was an introductory comic from Shiny, a comic book mini-series from Marvel, an artwork book, and the Playmates Toys toy-line. The most significant legacy of the game was perhaps the animated television series which lasted for two seasons.
    <br><br>
    A year later, a special edition of the game was released for the Sega CD which features a Red Book audio soundtrack, improved graphics and expanded levels, and an even further enhanced version with redrawn, 256 colour graphics and an Earthworm Jim desktop theme, as well as all the Sega CD improvements, was released for Microsoft Windows 95.
    The Sega Mega Drive/Genesis version was released through Nintendo Wii's Virtual Console service in Europe on October 3, 2008, and in North America on October 27, 2008.
    Gameloft released a version for the iPhone and Symbian S60 Devices; and in 2010 developed a HD version for the Microsoft Xbox Live Arcade, and the Sony PlayStation Network.
</p>
<br><br>
<h2>Plot</h2>
Earthworm Jim was just an ordinary Earthworm engaging in normal worm activities, such as eating dirt, crawling, and fleeing from hungry birds, until one day wherein fate should happen to smile upon him and his life was changed forever. A fearsome bounty hunter named Psy-Crow was en route to deliver the "ultra-high-tech-indestructible-super-space-cyber-suit" to Queen Slug-for-a-Butt, but got in a confrontation with another spaceship and lost the suit out of an airlock. The suit fell to earth, landing on a farm somewhere in the southern United States. While fleeing from a flock of hungry crows Jim took refuge in the mysterious suit. The suit's powerful atomic particles affected Jim's wormy flesh and caused him to grow and evolve at a fantastic rate. Upon discovering his new-found powers granted by the suit, he overhears Psy-Crow talking to Queen Slug-For-A-Butt, and becomes interested in meeting the queen's twin sister, Princess What's-Her-Name.
<br><br>
<h2>Gameplay</h2>
<p>The gameplay of Earthworm Jim could be considered bizarre. Launching cows, using Jim's head as a whip, and other bizarre twists add to the insanity. The player controls Jim at all times of the game. In the level sections, Jim can run, use his gun, swing on hooks, and get powerups for the blaster. The in-between levels, called Andy Asteroids?, place Jim in a semi-3D race against the evil Psy-Crow. If Psy-Crow wins, then Jim must fight him in one-on-one combat in order to progress. Throughout the game were many added features, such as mini-bosses whose weaknesses Jim would need to find through trial and error. Crystal treadmills, underwater pod races, and other related things also appear.  
    The game consisted of 10-12 levels (depending on the version):</p>
    <br><br>
<ul>
    <li>New Junk City</li>
    <li>New Junk City Part 2 (only in the Special Edition and HD version)</li>
    <li>Andy Asteroids? - a recurring bonus level/race between levels</li>
    <li>Psy-Crow (level) - only if losing the race with Psy-Crow in Andy Asteroids?</li>
    <li>What the Heck?</li>
    <li>Big Bruty - a level unique to the Special Edition of the game</li>
    <li>Down the Tubes</li>
    <li>Tube Race</li>
    <li>Snot a Problem</li>
    <li>Level 5</li>
    <li>Who Turned Out The Lights? - a hidden level</li>
    <li>For Pete's Sake</li>
    <li>Intestinal Distress (not in all ports of the game)</li>
    <li>Buttville</li>
</ul>
<br>
<h2>At the end of almost every level is a boss:</h2>
<ul>
        <li>Chuck (New Junk City)</li>
        <li>Psy-Crow (Andy Asteroids?)</li>
        <li>Evil the Cat (What the Heck?)</li>
        <li>Big Bruty (Big Bruty)</li>
        <li>Bob the Killer Goldfish (Down the Tubes)</li>
        <li>Major Mucus (Snot a Problem)</li>
        <li>Robot Chicken (Level 5)</li>
        <li>Doc Duodenum (Intestinal Distress)</li>
        <li>Queen Slug-for-a-Butt (Buttville)</li>
</ul>
<br>
<h2>Some levels also have mini-bosses:</h2>
    <ul>
        <li>Billy the Bin (New Junk City)</li>
        <li>Rusty the Snowman (What the Heck?)</li>
        <li>J. Alfred Maggot (Buttville)</li>
    </ul>
</div>